body {
    background-color: rgb(239, 241, 242);
    background-size: cover;
    font-family: sans-serif;
}

nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;


    align-items: center;

}

ul * {
    display: flex;
    display: inline;


}

nav li {

    margin-left: 60px;
    margin-bottom: 50px;
    padding-left: 50px;
    /* margin: 20px;*/
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.home {
    bottom: 10px;

}

.home h2,
h1 {
    text-align: center;

}

.picture img {
    border-radius: 10px;
    margin-left: 30px;
}

/*.picture p {
    display: flex;
    display: inline;
}*/
.bio p {
    text-align: center;
    font-weight: bold;

}

.par {
    font-family: fantasy;
    font-size: x-large;
    color: rgb(232, 33, 33);

}

.video {
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer {
    background-color: rgb(239, 241, 242);

}

.work p {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

input,
button {
    border-radius: 5px;


}

#footer {
    background-color: white;
}

#footer p {
    font-weight: bold;
    font-size: 20px;
}